body{
    background-color: beige;
}
#score{
    font-size: 20px;
    float: left;
    margin: left 7px;
}
#timer{
    font-size: 20px;
    float: right;
    position: absolute;
    right: 200px;
    margin: right 20px;
}
#Sketch{
    color: black;
}